.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #003F5A;
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #00EC9F;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}
   h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: "Helvetica Neue","ff-tisa-web-pro","Rubik",Arial,sans-serif;